body {
    width: vw%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 10px
}

#register-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 10px;
}

#title {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #2F3645;
}

#account {
    padding:3px 0px;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    color: #2f36457e;
    font-family: "Istok Web", sans-serif;
}

#password {
    padding:3px 0px;
    font-size: 24px;
    width: 100%;
    color: #2f36457e;
    box-sizing: border-box;
    font-family: "Istok Web", sans-serif;
}


.button-signin {
    width: 100%;
    background-color: #2F3645;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 3px 0px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.button-forgot-password {
    width: 100%;
    background-color: #FFFFFF;
    color: #2F3645;
    border-radius: 3px;
    border: 1px solid #2F3645;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 3px;
}